.pageIntro {
  overflow: hidden;
  width: 100%;
}

.pageIntro img, video {
  width: 100%;
}

.pageIntro h1 {
  text-shadow: -1px -1px 3px #fff,
  1px -1px 3px #fff,
  -1px 1px 3px #fff,
  1px 1px 3px #fff;
  margin: 4%;
}

.pageIntro .introContent {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  padding: 5%;
  margin: auto;
}

.pageIntro .btn-primary {
  font-size: 0.4em;
}

.stickPageIntroMenuOnTheTop {
  position: fixed;
  left: 0;
  top: 55px;
  width: 100%;
  z-index: 998;
  background-color: rgba(255, 255, 255, 0.85);
}

.stickPageIntroMenuOnTheTop .btn-primary {
  margin-top: -10px;
  font-size: 0.36em;
}


@media only screen and (max-width: 400px) {

  .pageIntro .introContent {
  }

  .pageIntro img, video {
    width: auto;
    height: 330px;
  }

  .stickPageIntroMenuOnTheTop .btn-primary {
    margin: -5px;
    font-size: 0.36em;
  }

  .carousel .item {
    height: 200px;
  }

}

@media only screen and (min-width: 601px) and (max-width: 992px) {

  .pageIntro .introContent {
    font-size: 2.5em;
    line-height: 1em;
  }

  .stickPageIntroMenuOnTheTop .btn-primary {
    margin-top: -6px;
    font-size: 0.4em;
  }

  .carousel .item {
    height: 250px;
  }
}
