.image-window {
  max-height: 400px;
  width: 100%;
  overflow:hidden;
  display: flex;
  align-items: center;
}

.image-window img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #142522;
  padding: 4px !important;
}

h3 {
  font-weight: 300;
  margin-top: 8px;
}

.defaultClickStyle:HOVER,
.defaultClickStyle:HOVER > a {
  background-color: #142522;
  color: white !important;
  cursor: pointer;
  text-decoration: none;
}

.defaultClickStyle:ACTIVE,
.defaultClickStyle:FOCUS {
  outline: 0;
  text-decoration: none;
}
