<article>
  <span *ngIf="content?.id" id="{{content?.id}}" class="anchor"></span>
  <img *ngIf="content?.img" [src]="content?.img"
       [ngClass]="{'reduce-brightness': !!content?.title || !!content?.subtitle || !!content?.text}"/>
  <span [ngClass]="{'has-background': !!content?.img}">
    <header *ngIf="!!content?.title || !!content?.subtitle">
      <h1 *ngIf="!!content?.title" [innerHTML]="content?.title | trustHtml"></h1>
      <h2 *ngIf="!!content?.subtitle" [innerHTML]="content?.subtitle | trustHtml"></h2>
    </header>
    <section *ngIf="!!content?.text || content?.buttons">
      <span *ngIf="!!content?.text" [innerHTML]="content?.text | trustHtml"></span>
      <div *ngIf="content?.buttons">
        <app-link-text [content]="content?.buttons" [cssClass]="'btn btn-large btn-primary'"></app-link-text>
      </div>
    </section>
  </span>
</article>
