<div class="pageIntro">
  <div class="gradientFromWhiteToTransparent">
    <video *ngIf="!!content?.headline.videoSource" vi-screen autoplay loop muted>
      <source src="{{content?.headline.videoSource}}" type="video/mp4">
    </video>
    <img *ngIf="!content?.headline.videoSource" [src]="content?.headline.img"/>
  </div>
  <div class="introContent">
    <h1 [innerHTML]="content?.headline.title | trustHtml"></h1>
    <div id="stickPageIntroMenuOnTheTop">
        <span *ngFor="let section of content?.sections">
            <a *ngIf="section?.type == 'title' && section?.addLinkInPageHeadline"
               (click)="scrollTo(section?.sectionId)"
               class="btn btn-large btn-primary">{{section?.text | removeHtmlFromText}}</a>
        </span>
    </div>
  </div>
</div>
<div style="clear:both"></div>
