footer {
  margin-top: 2%;
  padding-top: 2%;
  background-color: var(--secondColor);
  color: white;
}

a {
  color: var(--firstColor) !important;
  text-decoration: none !important;
}

a:HOVER {
  color: var(--secondColor) !important;
}

:host ::ng-deep .hover:HOVER {
  background-color: var(--firstColor) !important;
}
