.navbar {
  background-color: #157f15 !important;
  width: 100%;
  height: 55px;
}

.navbar-collapse {
  background-color: #157f15;
}

.navbar a {
  color: white !important;
}

.navbar-toggler {
  border: 1px solid white;
}

.navbar-brand:HOVER,
.navbar-nav a:HOVER,
.navbar-toggler:HOVER {
  cursor: pointer;
  background-color: #142522 !important;
  color: white !important;
}

.headerTopBar .navbar a:HOVER,
.headerTopBar .navbar-brand:HOVER {
  color: #157f15;
  background-color: #baf5a6 !important;
}
