.navbar {
  background-color: var(--firstColor) !important;
  width: 100%;
  height: 55px;
}

.navbar-collapse {
  background-color: var(--firstColor);
}

.navbar a {
  color: white !important;
}

.navbar-toggler {
  border: 1px solid white;
}

.navbar-brand:HOVER,
.navbar-nav a:HOVER,
.navbar-toggler:HOVER {
  cursor: pointer;
  background-color: var(--secondColor) !important;
  color: white !important;
}
