header {
  position: relative;
  width: 100%;
}

.anchor {
  position: absolute;
  top: -110px;
}

header h2, h3 {
  border-bottom: 1px solid #B9B9B9;
  margin-top: 3%;
  padding-bottom: 0.5%;
  font-weight: 400;
}

header h2 {
  font-size: 2.2em;
}

header h3 {
  font-size: 1.3em;
}
