<section class="figure">
  <video id="video" *ngIf="!!content?.videoSource" src="{{content?.videoSource}}" type="video/mp4" autoplay loop muted [ngClass]="{'reduceBrightness': !!content?.title} || !!content?.text"></video>
  <img *ngIf="!!content?.img" [src]="content?.img" [ngClass]="{'reduceBrightness': !!content?.title} || !!content?.text"/>
  <div class="introContent">
    <h1 *ngIf="!!content?.title" [innerHTML]="content?.title | trustHtml"></h1>
    <h3 *ngIf="!!content?.text" [innerHTML]="content?.text | trustHtml"></h3>
    <div *ngIf="content?.buttons" id="stickfigureMenuOnTheTop">
      <app-link-text [content]="content?.buttons" [cssClass]="'btn btn-large btn-primary'"></app-link-text>
    </div>
  </div>
</section>
<div style="clear:both"></div>
