<div class="row no-gutters justify-content-center">
  <a *ngFor="let otherPage of content"
     (click)="buildLinkAndGo(otherPage?.url.link)"
     class="col-lg-11 defaultClickStyle">
    <div class="caption" title="{{otherPage?.url.textOnMouseOver}}">
      <h3 *ngIf="!!otherPage?.title" [innerHTML]="otherPage?.title | trustHtml"></h3>
      <p *ngIf="!!otherPage?.text" [innerHTML]="otherPage?.text | trustHtml"></p>
    </div>
    <div class="image-window">
      <img alt="{{otherPage?.title}}"
           [src]="otherPage?.img"
           title="{{otherPage?.url.textOnMouseOver}}"
           class="detailBoxImg">
    </div>
  </a>
</div>
