/* You can add global styles to this file, and also import other style files */

:root {
  --firstColor: #157f15;
  --secondColor: #194c0f;
}

* {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit !important;
  text-decoration: underline !important;
}

a:HOVER {
  background-color: var(--secondColor) !important;
  color: white !important;
}

footer a:HOVER {
  color: var(--firstColor) !important;
}


p {
  margin: 0;
}

h1 {
  font-size: inherit;
}

textarea {
  resize: vertical;
}

body {
  color: var(--secondColor);
  font-size: 14px;
  text-align: center !important;
  padding-top: 55px;
}

.row {
  width: 100%;
}

.btn-primary {
  text-shadow: none;
  color: white !important;
  background-color: var(--firstColor) !important;
  border: 1px solid;
  border-color: #ced4da !important;
  cursor: pointer;
}

.btn-primary:HOVER {
  background-color: var(--secondColor) !important;
}
