/* You can add global styles to this file, and also import other style files */

:root {
  --firstColor: #157f15;
  --secondColor: #194c0f;
}

* {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: var(--firstColor) !important;
  text-decoration: underline !important;
}

a:HOVER {
  color: var(--secondColor) !important;
}

.figure a {
  color: lightcyan !important;
}

p {
  margin: 0;
}

h1 {
  font-size: inherit;
}

span, p {
  font-size: 0.97em;
}

textarea {
  resize: vertical;
}

body {
  color: var(--secondColor);
  font-size: 14px;
  text-align: center !important;
  padding-top: 55px;
}

.row {
  width: 100%;
}

.defaultClickStyle:HOVER,
.defaultClickStyle:HOVER > a {
  background-color: var(--secondColor);
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.btn-primary:FOCUS,
.btn-primary:ACTIVE,
.defaultClickStyle:ACTIVE,
.defaultClickStyle:FOCUS {
  outline: 0;
  text-decoration: none;
}

.btn-primary {
  text-shadow: none;
  margin: 0.2%;
  color: white !important;
  background-color: var(--firstColor) !important;
  border-color: white !important;
}

.btn-primary:HOVER {
  cursor: pointer;
  background-color: var(--secondColor) !important;
  color: white;
}

header .btn-primary {
  background-color: transparent;
}
.footerFeedback .form-control,
.footerFeedback button {
  float: left;
  width: 100%;
  background-color: transparent;
  color: white;
  border-radius: 3px;
  padding: 3px 12px;
  border: 1px solid #cccccc;
}

.footerFeedback button:HOVER,
.footerFeedback .input-group-addon,
.footerFeedback button:FOCUS {
  background-color: var(--firstColor);
  border: 1px solid #cccccc;
}

.footerFeedback button:HOVER,
.footerFeedback button:FOCUS {
  cursor: pointer;
}

.topBottomMargins {
  margin: 2% 0;
}

.footerFeedback input:HOVER,
.footerFeedback input:FOCUS,
.footerFeedback textarea:HOVER,
.footerFeedback textarea:FOCUS {
  background-color: white;
  color: black;
}

.footerFeedback form {
  width: 100%;
}
