.nav-link {
  cursor: pointer;
  color: white !important;
  text-decoration: none !important;
}

.nav-link:HOVER{
  background-color: var(--secondColor) !important;
}

.lookLikeLink {
  font-weight: 500 !important;
  text-decoration: none !important;
}
