<div style="clear:both"></div>
<article class="defaultArticle anchorParent">
  <span id="{{content?.id}}" class="anchor"></span>
  <header *ngIf="!!content?.title" class="articleTitle">
    <h2><span [innerHTML]="content?.title | trustHtml"></span></h2>
  </header>
  <section class="defaultArticleText">
    <span *ngIf="!!content?.text" [innerHTML]="content?.text | trustHtml"></span>
    <span *ngIf="!!content?.seeAlso">
        <span *ngFor="let seeAlsoItem of content?.seeAlso">
              <app-link [content]="seeAlsoItem" [class]="'lookLikeLink'"></app-link></span>
        </span>
  </section>
  <section *ngIf="!!content?.images">
    <a *ngFor="let image of content?.images"
       class="fancybox"
       title="{{image.text}}"
       data-fancybox="gallery"
       data-type="image"
       [href]="image.fullSize">
      <figure>
        <img [src]="image.thumbnail | safeUrl" [alt]="image.title">
        <figcaption [innerHTML]="image.text | trustHtml"></figcaption>
      </figure>
    </a>
  </section>
  <section *ngIf="!!content?.iframe">
    <div class="trailIndicators">
      <p *ngIf="!!content?.iframe.list">
           <span *ngFor="let item of content?.iframe.list"
                 title="{{item.textOnMouseOver}}"
                 [innerHTML]="item.text | trustHtml"></span></p>
    </div>
    <iframe class="iframe"
            frameborder="0"
            [src]="content?.iframe.src | safeUrl"
            allowfullscreen></iframe>
  </section>
</article>
