.articleTitle {
  padding: 30px 0px;
}

.articleTitle h2 {
  font-size: 1.4em;
  overflow: hidden;
  margin: 0px;
}

.articleTitle h2 span {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  position: relative;
  padding: 0 20px;
}

.articleTitle h2 span:before,
.articleTitle h2 span:after {
  content: '';
  display: block;
  width: 1000px;
  position: absolute;
  top: 0.73em;
  border-top: 1px solid gray;
}

.articleTitle h2 span:before {
  right: 100%;
}

.articleTitle h2 span:after {
  left: 100%;
}

.defaultArticleText {
  padding: 0 5% 20px 5%;
}

figure {
  max-width: 320px;
  margin: 5px;
  background-color: rgba(256, 256, 256, 0.8);
  box-shadow: 0px 3px 5px rgba(34, 25, 25, 0.4);
  padding: 1%;
  display: inline-block;
  column-break-inside: avoid;
}

figure img {
  max-width: 100%;
  max-height: 320px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

figure {
  font-size: .85em;
  color: black;
}

.hideFigCaption figcaption {
  display: none;
}

.iframe {
  width: 100%;
  height: 500px;
}

figure:HOVER {
  background-color: #142522;
  color: white !important;
  cursor: pointer;
  text-decoration: none;
}

figure:ACTIVE,
figure:FOCUS {
  outline: 0;
  text-decoration: none;
}
